.mainScreen {
  &__message {
    background: rgba(144, 144, 144, 0.7);
    padding: 1rem;
    width: 45rem;
    margin: 5rem auto 0 auto;
    text-align: center;
    color: #fff;

    &_header {
      font-size: 2.4rem;
    }

    &_content {
      margin-top: 1rem;
      font-size: 1.6rem;
    }

    &_buttons {
      display: flex;
      justify-content: space-between;

      &_button {
        padding: 1.6rem;
        margin: 2rem 4rem;
        background: rgba(255, 255, 255, 0.6);
        transition: 0.2s all ease-in;

        &:hover {
          color: rgba(255, 255, 255, 0.6);
          background: black;
          cursor: pointer;
        }
<<<<<<< HEAD

        a {
          
            text-decoration: none;
            color: black;
        }
=======
>>>>>>> Family search frontend
      }
    }
  }
}
